@using HotelBookingWebsite.Models

@model List<ConfirmationViewModel>
@{
    ViewBag.Title = "Upcoming Reservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Viewbag.Title</h4>
<div>
    @foreach (var item in Model) { 
        <tr> 
            <td> 
                @Html.DisplayFor(modelItem => item.ConfirmationId) 
            </td> 
        </tr> 
    } 
</div>
