<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
    <add name="CodeFirstHotelModel"
         connectionString="Data Source=SQLSERVER;Initial Catalog=HOTELDEVTEST;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="ProductionConnection"
         connectionString="Data Source=netproj.database.windows.net;Initial Catalog=HotelDataDevelop;Integrated Security=False;User ID=net;Password=User@123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient" />
    <add name="LocalConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HotelBookingWebsite-20170421021641.mdf;Initial Catalog=aspnet-HotelBookingWebsite-20170421021641;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=netproj.database.windows.net;Initial Catalog=HotelDataDevelop;Integrated Security=False;User ID=net;Password=User@123;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
