@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Purple</h1>
    <p class="lead">Welcome to Project Purple Hotel Booking System</p>
    <p><a href="home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Book a New Room</h2>
        <p>
            Please select the check-in and check-out date of your travel, we will help you to find all available room types and their prices.
        </p>
        @Html.Partial("~/Views/Reservation/Search.cshtml")
    </div>
    <div class="col-md-4">
        <h2>Retrieve a Reservation</h2>
        <p>
            Please enter your reservation's confirmation number:
        </p>
        @Html.Partial("~/Views/Reservation/Retrieve.cshtml")
    </div>
</div>