@model HotelBookingWebsite.Models.CheckInOutModel
@{
    ViewBag.Title = "CheckIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Status = Model.IsSuccess ? "Succeeded" : "Failed";
}

<h2>CheckIn @ViewBag.Status </h2>
@Html.ActionLink("Back", "Index")