@using HotelBookingWebsite.Models
@model CheckInOutModel
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Status = Model.isSuccess ? "Successful" : "Failed";
}

<h2>CheckOut @ViewBag.Status</h2>
@Html.ActionLink("Back", "Index")

