@model IEnumerable<HotelBookingWebsite.Models.CheckOutListModel>
@{
    ViewBag.Title = "CheckOutAllExpired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckOutAllExpired</h2>
Done.
@Html.Partial("ViewCheckoutList", Model)
@Html.ActionLink("Back", "Index")