@using HotelBookingWebsite.Models
@model DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<h3>Room Occupancies</h3>
@Html.Partial("Occupancy", Model.occupancy)
<h3>Upcoming Reservations for Checking-In</h3>
@Html.Partial("ViewCheckInList", Model.checkInList)
<h3>Reservations Checked-In</h3>
@Html.Partial("ViewCheckoutListAll", Model.checkOutList)

