@model IEnumerable<HotelBookingWebsite.Models.InventoryModel>

<table class="table">
    <tr>
        <th>
            Room Type
        </th>
        <th>
            Total Amount 
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inventory)
        </td>
    </tr>
}

</table>
