@model HotelBookingWebsite.Models.AvailableRoomViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<div>
    <h4>AvailableRoomViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
 
</p>
